body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
  margin-top: 20px;
}

.search-container {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.flags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country-card {
  width: 200px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.country-card img {
  width: 100px;
  height: 60px;
  object-fit: cover;
  margin-bottom: 10px;
}

.country-card p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
